Tests:
 shunit2,
Depends:
 debhelper,
 build-essential,
 fakeroot,
 faketime,
 git,
 gnupg,
 gpgv,
 libdistro-info-perl,
 libgitlab-api-v4-perl,
 libio-string-perl,
 libjson-perl,
 liblwp-protocol-psgi-perl,
 libtest-output-perl,
 libwww-perl,
 lzip,
 python3-debian,
 python3-pyftpdlib,
 shunit2,
 subversion,
 unzip,
 wdiff,
 zip,
 zstd,
 @,
Restrictions:
 allow-stderr,

Tests:
 destructive,
Depends:
 apt,
 libdpkg-perl,
 perl,
 @,
Restrictions:
 allow-stderr,
 breaks-testbed,
 needs-root,

Tests:
 metacpan,
Depends:
 debhelper,
 gpgv,
 libfile-dirlist-perl,
 libfile-homedir-perl,
 libfile-touch-perl,
 libio-string-perl,
 libjson-perl,
 liblwp-protocol-psgi-perl,
 libmetacpan-client-perl,
 libwww-perl,
Restrictions:
 needs-internet,
 allow-stderr,
